table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

body{
    text-align: center;
}

label{
    font-family: arial, sans-serif;
    margin-top:2%;
}

input{
    font-family: arial, sans-serif;
    margin-top:2%;
}

button{
    font-family: arial, sans-serif;
    margin-top:2%;
}
